body {
       background: url("http://www.websitemagazine.com/images/blog/darkside.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    margin: 20px 0 10px 0;
}

nav ul {
        background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
        background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
        background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
        border-radius: 10px;
        box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
        display: inline;
        padding: 10px 20px;
        list-style: none;
}

nav ul a {
    color: red;
    font-size: 18px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.menu {
    display: inline;
}

#h1 {
    color: white;
    background-color: rgba(0,0,0,0.3);
    font-family: 'Syncopate', sans-serif;
    font-size: 45px;
    margin: 30px 0 30px 0;
    letter-spacing: 30px;
    text-align: center;
    text-shadow: 2px 2px #FF0000;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

form {
    background-color: rgba(192,192,192,0.7);  
    border-radius: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
}

#text-input table {
    margin: 0 auto;   
}

.textbox {
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    height: 20px;
    margin: 0 0 10px 0;
    width: 200px;
}

#drop {
    font-size: 20px;
    height: 30px;
    width: 100px;
}

#radio-bttn table, #preferences table, #buttons table {
    margin: auto;   
}

textarea {
   border-radius: 5px; 
}

#buttons {
    background-color: rgb(255, 48, 0);
    border-radius: 5px;
}

.button {
    height: auto;
    width: auto;
}

#display-area table {
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
}
